@model MovelCreator.Models.Estilo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Estilo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoEstilo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoEstilo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstiloId }) |
    @Html.ActionLink("Voltar Para a Lista", "Index")
</p>
