@model MovelCreator.Models.Movel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Movel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoMovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoMovel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MovelId }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
